@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #fff;
    
}

body{
    background: linear-gradient(35deg,#060009,58%,#020f65);
    height: 100vh;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 10%;
}

.header img{
    margin-top: -5vh;
    height: 190px;
    scale: .9;
    filter: saturate(3);
    transition: .5s ease;
}

.header img:hover{
    filter: saturate(3);
    scale: 1;
}

nav {
    background-color: transparent;
    transition: top 0.3s;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: linear-gradient(35deg,#060009,58%,#020f65);
    font-family: "Poppins", sans-serif;
}
.nav-links {
    margin-top: -5vh;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin-left: 55px;
    font-size: 15px;
    cursor: pointer;
}

.nav-links a:hover{
    color: aqua;
}


.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 28vh;
        top: 8vh;
        background-color:transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



/*--section--*/
section{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10rem 9% 2rem;
    height: auto;
    width: auto;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-content{
    max-width: 600px;
}
.text-content h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 550;
}

.text-content h3{
    text-transform:uppercase;
    font-size: 22px;
    font-weight: 550;
}

.text-content span{
    font-size: 20px;
    color: aquamarine;
}
.text-content p{
    font-size: 13px;
    text-align: justify;
}


.button{
    margin: 20px 0;
}

.btn{
    text-align: center;
    height: 45px;
    width: 150px;
    background: transparent;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}


.home .imageSet1 img{
    height: 200px;
    width: fit-content;
    display: flex;
    margin-left: 100px;
}
@media only screen and (max-width:768px) {
    .home{
        width: auto;
    }
    .text-content{
        width: auto;
    }
    .imageSet1{
        display:none;
    }
    
}
@media all and (min-width: 600px)  {  body  { font-size:0.8em;  } }

/* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 14px;
    font-weight:lighter;
    color: #c9c4c4;
    margin: 0 0 10px;
    padding: 0px;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgb(169,169,169);
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
